.1 {
	background-color: yellow; 
	border-color: grey;     
	color: grey;
}

.2 {
	background-color: blue; 
	border-color: grey;     
	color: white;
}

.3 {
	background-color: green; 
	border-color: grey;     
	color: white;
}

.fc-header {
	width: 1130px;
	position: relative;
	z-index: 0;
}

.avatarList {
	display: block;
	margin: auto;
	margin-bottom: 15px;
}

.mapContainer {
	margin-bottom: 20px;
	width: 1130px;
}

#map_day_container {
	display: none;
}

.gm-style {
	border-radius: 8px;
}

.maps {
	margin-left: 10px;
	margin-bottom: 20px;
	border: 1px;
	border-style: solid;
	border-color: #999;
	border-radius: 8px;
	width: 17.9%;
	height: 300px;
	display: inline-block;
	-webkit-box-shadow: 5px 10px rgba(0,0,0,.2);
		-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.map_day {
	margin-left: 0px;
	border: 1px;
	border-style: solid;
	border-color: #999;
	border-radius: 8px;
	width: 49%;
	height: 560px;
	float: right;
	position: relative;
	top:-560px;
	left
	z-index: -1;
	display: inline-block;
	-webkit-box-shadow: 5px 10px rgba(0,0,0,.2);
		-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.map1 {
	margin-left: 65px;
}

#WinPin {
	margin-left: 20px;
	margin-right: 5px;
	margin-bottom: 20px;
}

.cool-button {
	height: 35px;
	margin-left: 50px;
	border-radius: 4px;
	min-width: 75px;
}