.mapContainer {
	margin-bottom: 20px;
}

.maps {
	margin-left: 10px;
	border: 1px;
	border-style: solid;
	border-color: #999;
	border-radius: 8px;
	width: 17.5%;
	height: 300px;
	display: inline-block;
	-webkit-box-shadow: 5px 10px rgba(0,0,0,.2);
		-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.map1 {
	margin-left: 65px;
}